p,div{
    color:red;
    text-decoration: uppercase;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    color:black;
    text-decoration: uppercase;

}

#abc{
    color:pink
}

#name{
    color:bisque;
    text-decoration: uppercase;
}

#sss{
    text-decoration: uppercase;
    color:black;

    margin-left :20px;
    border:2px dotted red;
    padding :20px;
    width:100px;
    height:100px
}

* {
    box-sizing: border-box;
  }
  



#boxes{
    float: left;
    width:33.33%;
   margin-left: 40px;
   
    border:2px dotted red;
    padding: 20px;
    width: 200px;
    height: 100px;
   
}

#boxes2{
    float: left;
    width:33.33%;
    border:2px dotted red;
    padding: 20px;
    width: 200px;
    height: 100px;
}


.video{
    
    
    margin:40px;
    margin-left: 100px;
    margin-bottom: 200px;


}


.horizontal{
    text-decoration: uppercase;
    margin:20px;
}

li{
    float: left;
    display: block;
  color: blue;
  
  padding: 16px;
  text-decoration: none
}



/* div p{
    color:dark green;
} */


<!--Child Css Selector-->
div>p{
    color:darkturquoise;
}


div+p{
    color:darkorchid;
}


div~p{
    color:darkviolet;
}